config/
.history/
.ipynb_checkpoints/
.vscode/
.pytest_cache/
__pycache__/
backups/
build/
confg/
data/
logs/
dist/
file_system_backend/
file_system_store/
obsolete/
modules/
plugin/
config.*
*.ipynb
*.spec
test.*
*.pyw
dump.rdb
*.db
.venv/
pyproject.toml
uv.lock